APP_NAME="Nexbuddy"
APP_ENV=production
APP_KEY=base64:rKIXr9LR+RKURejFpmYE9kUXr3vWqP1zuBc4M9H9DG8=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=https://nexbuddy.nexgeno.in

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=n34xgeno_nexbuddy
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

QUEUE_CONNECTION=database

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
OPENAI_API_KEY=sk-proj-s8SfSMjLXOl7Hut-hyhjJtrwMNwAhbaLp7A-_NcuZX6UgksS0g6EecXkNAPI
MAGICAI_USER_TYPE="normal"
