/vendor/
/node_modules/

.env
.env.backup
.env.production

/public/storage
/storage/*.key

/public/hot

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.phpunit.result.cache

.idea/
.vscode/

.DS_Store

Thumbs.db
*.zip